<!DOCTYPE html>
<html>
  <head>
    <title>Learning VueJS</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="http://davidtkatz.com/public_css/vue.css">
  </head>
  <body>
  	<div id="app">
  	  <ul>
         <li v-for="fruit in fruits" v-if="fruit.red">{{fruit.text}}</li> 
      </ul>
  	</div>
  	<script>
  	  var app = new Vue({
  	  	el: '#app',
  	  	data: {
          fruits: [
            {
              text: 'Apple',
              red: true
            },
            {
              text: 'Banana',
              red: false
            },
            {
              text: 'Cherry',
              red: true
            }
          ]
  	  	}
  	  })
  	</script>
  </body>
</html>